#it1{
   
background-color: brown;
}
div{
    background-color: aliceblue;
    width: 300px;
    height: 250px;
    border: 3px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    margin: auto;

}
#it{
    background-color:none;
}
.cse{
    background-color: blanchedalmond;
}
#it3, h2{
    background-color: orange;
    font-size: 50px;
    color: blue;
    text-align: center;
}
[type="submit"]{
    background-color: brown;
    color: beige;
}
div + p{
    background-color: pink;
}