body{

  
    background-color: aqua;
}
#d1{
    background-color: blue;
}
.csit-e{
    background-color: brown;
    
}
.cse{
    background-color: blueviolet;
}
#d5{
    background-color: chocolate;
}
.c5{
    background-color: chartreuse;
}
ul li{ 
    background-color: rgb(80, 255, 182);

}
#ul-1{
    background-color: blue;
}
ol>li{
    background-color: rgb(62, 62, 4);
}
ol{
    background-color: rgb(79, 7, 7);
}
h1+p{
    background-color: azure;
}
h1{
    background-color: rgb(96, 11, 11);
}
pre~h5{
    background-color: rgba(128, 255, 0, 0.836);
}  