.c1{
    width: 350px;
    height: 250px;
    border: 5px solid red;
    margin: auto;
    padding-left: 2px;
    background-image: url(waterfall3.jpg);
    background-size: cover;



}
.number1{
    background-color: rgb(31, 31, 155);
    color: rgb(221, 202, 202);
    padding-left: 10px;
    font-size: 20px;
    /* padding-top: 10px; */
}
.number2{
    background-color: rgb(20, 20, 142);
    color: rgb(234, 215, 215);
    padding-left: 10px;
    font-size: 20px;
}
.result{
    background-color: blue;
    color: rgb(229, 216, 216);
    padding-left: 10px;
    font-size: 20px;
}
#d1, #d2, #d3{
    background-color: blue;
    color: rgb(232, 222, 222);
    padding-left: 10px;
    font-size: 20px;
}
.add{
    background-color: blue;
    color: rgb(229, 216, 216);
    font-size: 20px;
}
.sub{
    background-color: blue;
    color: rgb(229, 216, 216);
    font-size: 20px;
}

